<div id="mimenu">

    <div id="datosuaurio">

        <img src="assets/avatar.png" alt="usuario">
        <div class="lblnombre">Cesar Ropero</div>
        <div class="lblrol">Super Administrador</div>
    </div>

    <div class="opciones">
        <div class="itemmenu" routerLink="/dashboard" >Dashboard</div>
        <div class="itemmenu" routerLink="/empleados" >Empleados</div>
        <div class="itemmenu" routerLink="/nomina" >Contrato</div>
        <div class="itemmenu" routerLink="/login" >Salir</div>
    </div>

</div>

<div id="superior"></div>